/*
 *  author: gejian1@lenovo.com
 *  description: 主样式表
 */

/*定义webkit核心的浏览器滚动条样式*/
::-webkit-scrollbar{width:8px;height:8px;}
::-webkit-scrollbar-thumb{border-radius:3px;background-color: #aaa;}
::-webkit-scrollbar-thumb:hover{background-color: #ccc;}
/*定义css3的占位符样式*/
::-webkit-input-placeholder{color:#ccc;}
input:-moz-placeholder{color:#ccc !important;}

/*全局样式*/
html{
    /*overflow: hidden;*/
    overflow-x: auto;
    overflow-y: hidden;
}
body{
    overflow: hidden\9;
    position: relative;
}
html, body, div, p, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td{
    margin: 0;
    padding: 0; 
}
html, body{
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
body{
    font: 12px/1.5 Tahoma,"Microsoft Yahei","微软雅黑",Helvetica,Arial,sans-serif;
    line-height: 1.5;
    color: #333;
}
ul,li,dl,dt,dd{
    list-style-type: none;
}
input, textarea, select{
    font-family: inherit;
}
a{
    color: #06A4F3;
    text-decoration: none;
    outline: none;
}
a:visited{
    text-decoration: none;
    color: #2E9BD1;
}
a:hover, a:active{
    text-decoration: underline;
    color: #2E9BD1;
}

/*common style*/
.clearfix{
    *zoom:1;
}
.clearfix:after{
    clear: both;
    content: ".";
    display: block;
    height: 0;
    font-size:0;
    visibility: hidden;
}
.scroll-y{
    overflow-x: hidden;
    overflow-y: auto;
}
.ellipsis{
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -icab-text-overflow: ellipsis;
    -khtml-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
}
.discopy{
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.encopy{
    -webkit-user-select: text;
    -moz-user-select: text;
    -khtml-user-select: text;
    -ms-user-select: text;
    -o-user-select: text;
    user-select: text;
}

/*按钮*/
.btn{
    color: #fff;
    border: 1px solid #84ac17;
    background-color: #A2D121;
    height: 22px;
    line-height: 22px;
    text-align: center;
    vertical-align: middle;
    margin-right:20px;
    padding: 2px 5px;
    cursor: pointer;
    float: left;
}
.btn-gray{
    color: #333;
    border: 1px solid #C7C7C6;
    background-color: #DFE0DC;
}

/*icon*/
.icon{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 3px 0 -3px;
    background: url("/assets/images/icons.png") no-repeat -364px -25px transparent;
}
.icon-all-notes{
    width: 20px;
    background: url("/assets/images/boxlist/allnote_normal.png") no-repeat 0 0 transparent;
    margin: 2px 0 -2px;
    *position: relative;
    *top: -1px;
}
.item.on .icon-all-notes{
    background-image: url("/assets/images/boxlist/allnote_active.png");
}
.icon-all-stars{
    width: 20px;
    height: 20px;
    background: url("/assets/images/boxlist/star_normal.png") no-repeat 0 0 transparent;
    position: relative;
    top: 3px;
    left: 2px;
}
.item.on .icon-all-stars{
    background-image: url("/assets/images/boxlist/star_active.png");
}
.icon-trash{
    width: 20px;
    height: 20px;
    margin: 2px 0 -2px;
    background: url("/assets/images/boxlist/noteicons/trash_normal.png") no-repeat 0 0 transparent;
    position: relative;
    top: 3px;
    left: 1px;
}
.item.on .icon-trash{
    background-image: url("/assets/images/boxlist/noteicons/trash_active.png");
    top: 4px;
}
.icon-arrow{
    margin: 5px 0 -5px;
    background: url("/assets/images/boxlist_arrow_right.png") 0 0 no-repeat transparent;
}
.icon-arrow.open{
    margin: 5px 0 -5px;
    height: 14px;
    background: url("/assets/images/boxlist_arrow_down.png") 0 0 no-repeat transparent;
}
.icon-arrow-gray{
    background-position: -554px -3px;
}
.icon-action{
    position: absolute;
    right: 12px;
    top: 5px;
    width:16px;
    height:16px;
    background: url("/assets/images/arrow_options.png") 4px 4px no-repeat transparent;
    visibility: hidden;
}
/*.icon-trash{
    background-position: -4px -28px;
}*/
.icon-group{
    background-position: -53px -30px;
}
.icon-book{
    background-position: -4px -4px;
}

/*列表*/
.list li ul{
    display: none;
}
.list .item{
    position: relative;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
}
.list .item:hover .icon-action, .list .item.hover .icon-action, .list .item .icon-action.active, .list .item.on .icon-action{
    visibility: visible;
}
.list .item.active .icon-arrow{
    margin: 5px 0 -5px;
    background: url("/assets/images/boxlist_arrow_down.png") 0 0 no-repeat transparent;
}
.list .item.active .icon-arrow-gray{
    background-position: -532px -3px;
}
.list .item .title, .list .item .count{
    overflow: hidden;
    margin-left: 4px;
}
.list .item .title{
    white-space: nowrap;
}
.list .item .count{
    color: #999;
}

/*笔记本图标*/
.notebook_archive{
    background: url("/assets/images/boxlist/noteicons/archive_normal.png") no-repeat 0 0 transparent;
}
.item.on .notebook_archive{
    background-image: url("/assets/images/boxlist/noteicons/archive_active.png");
}
.notebook_book{
    background: url("/assets/images/boxlist/noteicons/book_normal.png") no-repeat 0 0 transparent;
}
.item.on .notebook_book{
    background-image: url("/assets/images/boxlist/noteicons/book_active.png");
}
.notebook_clock{
    background: url("/assets/images/boxlist/noteicons/clock_normal.png") no-repeat 0 0 transparent;
}
.item.on .notebook_clock{
    background-image: url("/assets/images/boxlist/noteicons/clock_active.png");
}
.notebook_work{
    background: url("/assets/images/boxlist/noteicons/work_normal.png") no-repeat 0 0 transparent;
}
.item.on .notebook_work{
    background-image: url("/assets/images/boxlist/noteicons/work_active.png");
}
.notebook_tea{
    background: url("/assets/images/boxlist/noteicons/tea_normal.png") no-repeat 0 0 transparent;
}
.item.on .notebook_tea{
    background-image: url("/assets/images/boxlist/noteicons/tea_active.png");
}
.notebook_trip{
    background: url("/assets/images/boxlist/noteicons/trip_normal.png") no-repeat 0 0 transparent;
}
.item.on .notebook_trip{
    background-image: url("/assets/images/boxlist/noteicons/trip_active.png");
}
.notebook_piggy{
    background: url("/assets/images/boxlist/noteicons/piggy_normal.png") no-repeat 0 0 transparent;
}
.item.on .notebook_piggy{
    background-image: url("/assets/images/boxlist/noteicons/piggy_active.png");
}

/*popup菜单*/
.popup-menu{
    position: absolute;
    right: 0;
    z-index: 998;
    background-color: #4D4C4C;
    border: 1px solid #2E2D2D;
    color: #eee;
    max-width: 160px;
    min-width: 120px;
    _width: expression((this.width > 160? 160 : (this.width < 120? 120 : this.width)) + 'px');
    overflow:hidden;
    box-shadow: 1px 2px 5px #3A3636;
    -webkit-box-shadow: 1px 2px 5px #3A3636;
    -moz-box-shadow: 1px 2px 5px #3A3636;
    display: none;
    filter: alpha(opacity=90);
    -moz-opacity:0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;
}
.popup-menu.shared{
    width: 120px;
    color: #333;
    font-size: 13px;
    text-align: center;
    padding: 2px 0;
    background-color: #fff;
    border-color: #E2DEDE;
    border-width: 1px;
    box-shadow: 0px 4px 5px #BBB4B4;
    -webkit-box-shadow: 0px 4px 5px #BBB4B4;
    -moz-box-shadow: 0px 4px 5px #BBB4B4;
}
.popup-menu.category{
    z-index: 1000;
    background-color: #fff;
    color: #333;
    border-color: #BDBABA;
    box-shadow: 0px 4px 5px #BBB4B4;
    -webkit-box-shadow: 0px 4px 5px #BBB4B4;
    -moz-box-shadow: 0px 4px 5px #BBB4B4;
}
.popup-menu.category dd.selected{
    /*background: url("/assets/images/category_select_bg") repeat-x 0 0 transparent;*/
    background-color: #eee;
    cursor: default;
}
.popup-menu.category dd:hover, .popup-menu.category dd.hover{
    background-color: #E4E4E4;
}
.popup-menu dd{
    overflow: hidden;
    white-space: nowrap;
    padding: 0 12px;
    line-height: 30px;
    cursor: pointer;
    position: relative;
    z-index: 1;
}
.popup-menu.shared dd:hover, .popup-menu.shared dd.hover{
    background-color: #F0F0F0;
}
.popup-menu.category dd.create{
    border-top: 1px solid #D6D6D6;
    padding: 2px 0 2px 25px;
}
.popup-menu.category dd.create i.icon{
    background: url("/assets/images/category_add") no-repeat 0 0 transparent;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 5px 0 -5px;
    *vertical-align: middle;
    *margin: 0;
}
.popup-menu dd:hover, .popup-menu dd.hover{
    background-color: #3C3D3D;
}
.popup-menu dd.disabled{
    color: #999;
    cursor: default;
}
.popup-menu dd.disabled:hover, .popup-menu dd.disabled.hover{
    background-color: #4D4C4C;
}
.popup-menu.shared dd span{
    padding: 0;
}
.popup-menu dd span{
    padding-left: 25px;
    font-size: 12px;
}
.popup-menu .icon_newnotebook{
    background: url("/assets/images/boxlist/icon_plus.png") no-repeat 0 0 transparent;
    margin-right: 8px;
}

/*Header Style*/
#header{
    font-size: 12px;
    color: #fff;
    height: 38px;
    background: url('/assets/images/top_bg.png') repeat-x 0 0 #8a0000;
}
#header a{
    color: #fff;
}
#header a:active,#header a:hover,#header a:visited{
    color: #fff;
    text-decoration: none;
}
#header h1, #header .client_downloads, #header .links{
    position: absolute;
    top: 8px;
}
#header h1{
    left: 12px;
    background: url("/assets/images/logo-small.png") no-repeat 0 0 transparent;
    font-size: 14px;
    width: 116px;
    height: 38px;
    top: 0px;
    overflow: hidden;
}
#header h1 a.logo{
    display: block;
    text-indent: 100%;
    white-space: nowrap;
    cursor: default;
}
#header .client_downloads{
    left: 140px;
    top: 10px;
}
#header .client_downloads a{
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-left: 8px;
}
#header .client_downloads .pc{
    background: url("/assets/images/client/windows_normal.png") no-repeat 0 0 transparent;
}
#header .client_downloads .pc:hover{
    background: url("/assets/images/client/windows_hover.png") no-repeat 0 0 transparent;
}
#header .client_downloads .pc:active{
    background: url("/assets/images/client/windows_active.png") no-repeat 0 0 transparent;
}
#header .client_downloads .iphone{
    background: url("/assets/images/client/iphone_normal.png") no-repeat 0 0 transparent;
}
#header .client_downloads .iphone:hover{
    background: url("/assets/images/client/iphone_hover.png") no-repeat 0 0 transparent;
}
#header .client_downloads .iphone:active{
    background: url("/assets/images/client/iphone_active.png") no-repeat 0 0 transparent;
}
#header .client_downloads .android{
    background: url("/assets/images/client/android_normal.png") no-repeat 0 0 transparent;
}
#header .client_downloads .android:hover{
    background: url("/assets/images/client/android_hover.png") no-repeat 0 0 transparent;
}
#header .client_downloads .android:active{
    background: url("/assets/images/client/android_active.png") no-repeat 0 0 transparent;
}
#header .links{
    right:12px;
    color: #BDB9B9;
    top: 0;
    *top: -5px;
    height: 38px;
    line-height: 38px;
}
#header .links .spaceline{
    padding: 0 12px;
    position: relative;
    top: 8px;
}
#header .links .accountinfo{
    background: url("/assets/images/account.png")  no-repeat 0 0 transparent;
    padding-left: 25px;
    display: inline-block;
    height: 22px;
    line-height: 22px;
    cursor: default;
}

/*Main Style*/
#main, #header{
    /*min-width: 1440px;*/
    min-width: 1024px;
    _width: 1024px;
    _overflow: visible;
    position: relative;
    visibility: hidden;
    overflow: hidden;
}

/*Sidebar A Style*/
#sidebar-a, #sidebar-b, #sidebar-c{
    height: 100%;
}
#sidebar-a, #sidebar-b{
    position: relative;
    float: left;
}
#sidebar-a{
    background-color: #3a3a3a;
    /*color: #eee;*/
    color: #aaa;
    font-size: 12px;
    *z-index: 2;
}
#sidebar-a .wrap{
    width: 245px;
    line-height: 22px;
}
#sidebar-a .wrap .header{
    /*background: url("/assets/images/boxlist_menu_bg.png") 0 0 repeat-x transparent;*/
    height: 45px;
    line-height: 45px;
    cursor: pointer;
    padding: 0 10px;
    position: relative;
}
#sidebar-a .list li .icon-action{
    margin: 2px 0 -2px;
}
#sidebar-a .wrap .content{
    margin-bottom: 15px;
}
#sidebar-a .wrap .header .icon-action{
    background: url("/assets/images/boxlist_btn_more.png") 0 0 no-repeat transparent;
    top: 15px;
    right: 12px;
    visibility: inherit;
    width: 16px;
    height: 16px;
}
#sidebar-a .wrap .header .icon-action.new-notebook{
    top: 8px;
}
#sidebar-a .wrap .header .new-notebook.icon-action{
    background-image: url("/assets/images/boxlist_btn_new_notebook.png");
    width: 26px;
    height: 26px;
}
#sidebar-a .wrap .header .new-notebook.icon-action:hover{
     background-image: url("/assets/images/boxlist_btn_new_notebook_hover.png");
}
#sidebar-a .wrap .header .new-notebook.icon-action:active{
    background-image: url("/assets/images/boxlist_btn_new_notebook_active.png");
}
#sidebar-a .wrap .separate{
    background: url("/assets/images/boxlist/separate.png") repeat-x 0 0 transparent;
    width: 90%;
    height: 2px;
    text-align: center;
    margin: 15px auto 5px;
}
#sidebar-a .wrap li{
    color: #aaa;
}
#sidebar-a .wrap li .item.hover{
    background: url("/assets/images/boxlist_chose_hover.png") 0 0 repeat-x transparent;
}
#sidebar-a .wrap li .item.on{
    background: url("/assets/images/boxlist_chose_active.png") 0 0 repeat-x #A30900;
    color: #fff;
}
#sidebar-a .wrap li .item{
    height: 30px;
    line-height: 30px;
    *line-height: normal;
    /*padding-right: 10px;*/
   padding-right: 75px;
}
#sidebar-a .wrap li .item .title{
    margin-left: 8px;
}
#sidebar-a .wrap li .item .icon-arrow{
    margin-right: 4px;
    margin: 8px 0 -8px;
}
#sidebar-a .wrap li.trash .item, #sidebar-a .wrap li#myshare .item{
    padding-left: 24px;
}
#sidebar-a .wrap li#stars-notes .item{
    padding-left: 22px;
}
#sidebar-a .wrap li#all-notes .item{
    padding-left: 26px;
    *line-height: 30px;
}
#sidebar-a .wrap li#all-notes .item .title{
    margin-left: 4px;
}
#sidebar-a .wrap li#myshare .item .icon{
    width: 20px;
    height: 20px;
    background: url("/assets/images/boxlist/noteicons/share_normal.png") no-repeat 0 0 transparent;
    position: relative;
    top: 2px;
}
#sidebar-a .wrap li#myshare .item.on .icon{
    background-image: url("/assets/images/boxlist/noteicons/share_active.png");
}
#sidebar-a .wrap li .title{
    max-width: 85%;
    *display: inline-block;
    *max-width: 75%;
    *text-overflow: ellipsis;
}
#sidebar-a .wrap li .count{
    position: absolute;
    top: 6px;
    right: 34px;
    display: inline-block;
    height: 18px;
    line-height: 18px;
    margin: 0;
    font-size: 12px;
    color: #888;
}
#sidebar-a .wrap .item.on .count{
    color: #DFDCDC;
}
#sidebar-a .wrap li .count .l, #sidebar-a .wrap li .count .r{
    display: block;
    width: 12px;
    height: 18px;
    float: left;
    background: url("/assets/images/boxlist_number_normal_left.png") 0 0 no-repeat transparent;
}
/*修复chrome缩放时笔记数出现分裂线条*/
#sidebar-a .wrap li .count .l{
    position: relative;
    left: 1px;
}
#sidebar-a .wrap li .count .c{
    display: block;
    float: left;
    /*height: 17px;*/
    height: 18px;
    /*padding: 0 3px;*/
    padding: 0 2px 0 3px;
    background: url("/assets/images/boxlist_number_normal_middle.png") 0 0 repeat-x #303030;
}
#sidebar-a .wrap li .count .r{
    background-image: url("/assets/images/boxlist_number_normal_right.png");
    /*position: relative;
    right: 1px;*/
}
#sidebar-a .wrap .item.hover .count .l{
    background-image: url("/assets/images/boxlist_number_hover_left.png");
}
#sidebar-a .wrap .item.hover .count .c{
    background: url("/assets/images/boxlist_number_hover_middle.png") 0 0 repeat-x #373737;
}
#sidebar-a .wrap .item.hover .count .r{
    background-image: url("/assets/images/boxlist_number_hover_right.png");
}
#sidebar-a .wrap .item.on .count .l{
    background-image: url("/assets/images/boxlist_number_chose_left.png");
}
#sidebar-a .wrap .item.on .count .c{
    height: 18px;
    /*background: url("/assets/images/boxlist_number_chose_middle.png") 0 0 repeat-x #750000;*/
    background: url("/assets/images/boxlist_number_chose_middle.png") 0 0 repeat-x transparent;
}
#sidebar-a .wrap .item.on .count .r{
    background-image: url("/assets/images/boxlist_number_chose_right.png");
}
#sidebar-a .icon_notebook{
    width: 20px;
    height: 20px;
    margin: 3px 0 -3px;
    background-position: 0 2px;
}

/*Sidebar B Style*/
#sidebar-b{
    overflow: hidden;
    /*background-color: #dedede;*/
    background-color: #fff;
}
#sidebar-b .wrap{
    width: 400px;
}
#sidebar-b .toolbar{
    position: relative;
    z-index: 882;
    /*overflow: hidden;*/
    overflow: visible;
    background-color: #fff;
    margin-top: 3px;
}
#sidebar-b .toolbar, #sidebar-c .toolbar{
    height: 45px;
}
#sidebar-b .content.scroll-y{
    position: relative;
    z-index: 1;
}
#sidebar-b .toolbar, #sidebar-b .list{
    padding: 0 10px;
}
#sidebar-b .toolbar .search{
    /* border: 1px solid #D8D0D0;
     border-top: 0 none;
     box-shadow:2px 2px 2px #C8CACC;
    -webkit-box-shadow:2px 2px 2px #C8CACC;
    -moz-box-shadow:2px 2px 2px #C8CACC;*/
    /*width: 350px;*/
    /*height: 100%;*/
    height: 44px;
    /*padding-right: 48px;
    padding-left: 10px;
    background-color: #fff;*/
    padding-right: 46px;
    *padding-right: 50px;
    overflow: hidden;
    white-space: nowrap;
}
#sidebar-b .toolbar .search .smart-input{
    /*height: 44px;
    line-height: 44px;*/
    width: 100%;
    height: 29px;
    line-height: 29px;
    position: relative;
    border: 1px solid #d0d0d0;
    top: 11px;
    left: 0;
}
#sidebar-b .toolbar .search .smart-input label{
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    left: 0;
    color: #D1CECE;
    padding-left: 5px;
}
#sidebar-b .toolbar .search input{
    /*width: 294px;
      height: 44px;
      line-height: 22px;
      padding: 0 5px;*/
    width: 98%;
    height: 100%;
    outline: none;
    border: 0 none;
    line-height: 50%;
    line-height: 28px\9;
    *height: 28px;
    font-size: 12px;
    float: left;
    top: 0;
    vertical-align: middle;
    color: #636161;
    padding-left: 5px;
}
#sidebar-b .toolbar .search a{
    display: block;
    float: left;
    width: 48px;
    height: 44px;
    background: url("/assets/images/search_normal.png") 0 0 no-repeat transparent;
    position: absolute;
    *position: static;
    right: 6px;
    top: 0;
}
#sidebar-b .toolbar .search a:hover{
    background-image: url("/assets/images/search_hover.png");
}
#sidebar-b .toolbar .search a:active{
    background-image: url("/assets/images/search_active.png");
}
/*
a:focus, *:focus{
    noFocusLine: expression(this.onFocus=this.blur());
    ie-dummy: expression(this.hideFocus=this.blur());
}
*/
#sidebar-b .list-notes li{
    /*margin-bottom: 6px;*/
    position: relative;
    *z-index: 780;
}
#sidebar-b .list-notes li.date-sep{
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    background-color: #fff;
    color: #333;
    height: 25px;
    line-height: 25px;
    margin-bottom: 1px;
    *z-index: 800;
}
#sidebar-b .list-notes li.date-sep .rainbow{
    width: 100%;
    height: 1px;
    background: url('/assets/images/rainbow2.png') repeat-x 0 0 transparent;
    _position: relative;
    _top: 1px;
    z-index: 801;
}
#sidebar-b .list-notes li.date-sep + li .item.on{
    /*border-top: 0 none;*/
}
#sidebar-b .list-notes li .marked{
    position: absolute;
    display: none;
    width: 20px;
    height: 20px;
    background: url("/assets/images/boxlist/star.png") no-repeat 0 0 transparent;
    top: 0;
    z-index: 881;
    right: 0;
}
#sidebar-b .list-notes li .marked:hover{
    background-image: url("/assets/images/boxlist/star_hover.png");
}
#sidebar-b .list-notes li .marked:active{
    background-image: url("/assets/images/boxlist/star_active.png");
}
#sidebar-b .list-notes li.hover .marked, #sidebar-b .list-notes li .marked.stared,
#sidebar-b .list-notes li .note-entry.on + .marked{
    display: block;
} 
#sidebar-b .list-notes li .marked.stared, #sidebar-b .list-notes li .marked.stared:hover{
    background-image: url("/assets/images/boxlist/stared.png");
}
#sidebar-b .list{
    padding-top: 6px;
}
#sidebar-b .list .item{
    background-color: #fff;
    border-bottom: 1px solid #dedede;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    /*box-shadow:2px 1px 3px #BCBCBD;
    -webkit-box-shadow:2px 1px 3px #BCBCBD;
    -moz-box-shadow:2px 1px 3px #BCBCBD;*/
    z-index: 800;
}
#sidebar-b .list .item.hover{
    background-color: #f3f4f6;
}
#sidebar-b .list .item.on{
    background-color: #fffbef;
    /*border-color: #B3C1EC;*/
    border: 1px solid #efb672;
}
#sidebar-b .list .item .entry{
    height: 72px;
    padding: 10px;
    /*float: left;
    overflow: hidden;*/
}
#sidebar-b .list .item .media{
    width: 94px;
    height: 94px;
    text-align: center;
    float: right;
    margin: 0 auto;
    /*background-color: #FCF7F7;*/
}
#sidebar-b .list .item .media img{
    width: 94px;
    height: 94px;
    border: 0 none;
}
#sidebar-b .list .item .media img.small{
    width: 72px;
    height: 72px;
    position: relative;
    top: 11px;
}
#sidebar-b .list .item .title{
    margin-bottom: 3px;
    font-size: 14px;
    color: #333;
    overflow: hidden;
    white-space: nowrap;
    margin:0;
}
#sidebar-b .list .item.on .title{
    font-weight: normal;
}
#sidebar-b .list .item .summary{
    color: #888;
    font-size: 12px;
    overflow: hidden;
    word-break: break-all;
    white-space: normal;
    height: 34px;
}
#sidebar-b .list .item .metadata{
    color: #be0800;
    white-space: nowrap;
    margin-top: 3px;
    font-size: 12px;
    overflow: hidden;
}
#sidebar-b .list .item .metadata .date, #sidebar-b .list .item .metadata .spot,
#sidebar-b .list .item .metadata .weather, #sidebar-b .list .item .metadata .tag{
    padding-right: 5px;
}
#sidebar-b .list .item .metadata .spot{
    background: url("/assets/images/boxlist/spot.png") no-repeat 0 2px transparent;
    padding-left: 15px;
}
#sidebar-b .list .item .metadata .weather{
    background: url("/assets/images/boxlist/weather.png") no-repeat 0 3px transparent;
    padding-left: 15px;
}
#sidebar-b .list .item .metadata .tag{
    background: url("/assets/images/boxlist/tag.png") no-repeat 0 3px transparent;
    padding-left: 15px;
}
#sidebar-b .list .item .metadata .tag span{
    display: inline-block;
    _zoom:1;
    *display:inline;
    /*background-color: #F5F8FA;*/
    margin-right: 5px;
    /*padding: 0px 10px;
    border: 1px solid #b6bdc3;*/
    filter: alpha(opacity=80);
    -moz-opacity:0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    /*border-radius: 12px;*/
}
#sidebar-b .logo{
    width: 48px;
    height: 48px;
    background: url("/assets/images/logo32.png") no-repeat 0 0 transparent;
    position: absolute;
    bottom: 60px;
    left: 50%;
    margin-left: -24px;
}
#sidebar-b .empty{
    width: 240px;
    height: 280px;
    overflow: hidden;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-left: -120px;
    text-align: center;
}
#sidebar-b .empty img{
    width: 240px;
    height: 240px;
    border: 0 none;
}
#sidebar-b .empty p{
    color: #D1CECE;
    font-size: 12px;
    white-space: nowrap;
    position: relative;
    top: -10px;
    *top: -5px;
}
/*#sidebar-b .empty.search span{
    float: left;
}*/
#sidebar-b .empty.search span.q{
    overflow: hidden;
    display: inline-block;
    /*width: 100px;*/
    max-width: 100px;
    _width: expression((this.width > 100? 100 : this.width) + 'px');
    position: relative;
    top: 4px;
    *position: static;
    *top: 0;
}
#sidebar-b .empty.search span.q.safari{
    top: 0;
}
#sidebar-b .easytools{
    width: 100%;
    height: 38px;
    position: absolute;
    bottom: 0;
    z-index: 900;
    background-color: #fff;
}
#sidebar-b .easytools .sep{
    background: url("/assets/images/list/tool_bg.png") repeat-x 0 0 transparent;
    padding-top: 2px;
    height: 2px;
    margin: 0 10px;
}
#sidebar-b .easytools .description{
    position: absolute;
    right: 15px;
    height: 35px;
    line-height: 35px;
    bottom: 0;
    font-size: 12px;
    color: #797373;
    max-width: 250px;
    _width: expression((this.width > 250? 250 : this.width) + 'px');
    overflow: hidden;
}
#sidebar-b .easytools .description .from{
    display: inline-block;
    max-width: 150px;
    _width: expression((this.width > 150? 150 : this.width) + 'px');
    margin-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    float:left;
}
#sidebar-b .easytools .description .count{
    display: inline-block;
    max-width: 90px;
    _width: expression((this.width > 90? 90 : this.width) + 'px');
    overflow: hidden;
    white-space: nowrap;
    float:left;
}

/*Sidebar C Style*/
#sidebar-c{
    overflow: hidden;
    padding-bottom: 0;
    border-left: 1px solid #D8D0D0;
}
#sidebar-c .toolbar{
    padding: 0 12px;
    line-height: 45px;
    background: url("/assets/images/ctoolbar_bg.png") repeat-x 0 0 #eee;
    position: relative;
}
#sidebar-c .toolbar.gray{
    background-color: #ebebeb;
    background-image: none;
}
#sidebar-c .toolbar .r{
    position: absolute;
    top: -1px;
    right: -18px;
}
#sidebar-c .toolbar .btn{
   visibility: hidden;
   display: block;
   position: relative;
   top: 8px; 
   padding: 0;
   border: 0 none;
   height: 28px;
   line-height: 28px;
   background-color: transparent;
   font-size: 12px;
}
#sidebar-c .toolbar .btn:hover, #sidebar-c .toolbar .btn:active{
    text-decoration: none;
}
#sidebar-c .toolbar .btn.new-note{
    background: url("/assets/images/btn_new.png") 0 0 no-repeat transparent;
    width: 102px;
}
#sidebar-c .toolbar .btn.new-note:hover{
    background-image: url("/assets/images/btn_new_hover.png");
    color: #fff;
}
#sidebar-c .toolbar .btn.new-note:active{
    background-image: url("/assets/images/btn_new_active.png");
    color: #fff;
}
#sidebar-c .toolbar .btn.new-note span{
    position: relative;
    left: 5px;
    top: -1px;
    color:#fff;
}
#sidebar-c .toolbar .btn.edit-note, #sidebar-c .toolbar .btn.del-note, #sidebar-c .toolbar .btn.share-note, #sidebar-c .toolbar .btn.restore-note{
    color: #333;
    width: 62px;
    height: 28px;
    line-height: 30px;
    top: 9px;
}
#sidebar-c .toolbar .btn.edit-note{
    background: url("/assets/images/btn_edit.png") 0 0 no-repeat transparent;
}
#sidebar-c .toolbar .btn.edit-note:hover{
    background-image: url("/assets/images/btn_edit_hover.png");
}
#sidebar-c .toolbar .btn.edit-note:active{
    background-image: url("/assets/images/btn_edit_active.png");
}
#sidebar-c .toolbar .btn.edit-note span, #sidebar-c .toolbar .btn.del-note span, #sidebar-c .toolbar .btn.restore-note span{
    position: relative;
    left: 8px;
    top: -1px;
    white-space: nowrap;
}
#sidebar-c .toolbar .btn.del-note{
    background: url("/assets/images/btn_del.png") 0 0 no-repeat transparent;
}
#sidebar-c .toolbar .btn.del-note:hover{
    background-image: url("/assets/images/btn_del_hover.png");
}
#sidebar-c .toolbar .btn.del-note:active{
    background-image: url("/assets/images/btn_del_active.png");
}
#sidebar-c .toolbar .btn.save-note{
    background: url("/assets/images/btn_finish.png") 0 0 no-repeat transparent;
    width: 62px;
}
#sidebar-c .toolbar .btn.save-note:hover{
    background-image: url("/assets/images/btn_finish_hover.png");
    color: #fff;
}
#sidebar-c .toolbar .btn.save-note:active{
    background-image: url("/assets/images/btn_finish_active.png");
    color: #fff;
}
#sidebar-c .toolbar .btn.save-note span{
    position: relative;
    /*top: -2px;*/
    top: -1px;
}
#sidebar-c .toolbar .btn.save-note.disabled,
#sidebar-c .toolbar .btn.save-note.disabled:hover,
#sidebar-c .toolbar .btn.save-note.disabled:active{
    background-image: url("/assets/images/finish_btn_disable.png");
    color: #999;
}
#sidebar-c .toolbar .btn.share-note{
    /*background: url("/assets/images/btn_share.png") 0 5px no-repeat transparent;
     padding-left: 5px;*/
    background: url("/assets/images/btn_share_normal.png") 0 0 no-repeat transparent;
    /*right: 5px;*/
    padding-left: 10px;
    line-height: 28px;
    *line-height: 30px;
    height: 32px;
    white-space: nowrap;
}
#sidebar-c .toolbar .btn.share-note:hover{
    background-image: url("/assets/images/btn_share_hover.png");
}
#sidebar-c .toolbar .btn.share-note:active{
    background-image: url("/assets/images/btn_share_active.png");
}
#sidebar-c .toolbar .btn.restore-note{
    background: url("/assets/images/btn_restore_normal.png") 0 0 no-repeat transparent;
}
#sidebar-c .toolbar .btn.restore-note:hover{
    background-image: url("/assets/images/btn_restore_hover.png");
}
#sidebar-c .toolbar .btn.restore-note:active{
    background-image: url("/assets/images/btn_restore_active.png");
}
#sidebar-c .toolbar .r .explain{
    white-space: nowrap;
    margin-right: 20px;
}
#sidebar-c .note-wrap{
    background-color: #fff;
}
#sidebar-c .note-info, #sidebar-c .note-meta{
    /*padding-left: 10px;*/
    padding: 0 10px;
    overflow: hidden;
    white-space: nowrap;
    height: 35px;
    line-height: 35px;
} 
#sidebar-c .note-info{
    /*padding-right: 210px;*/
    padding-right: 240px;
    font-size: 14px;
    color: #333;
    font-weight: bold;
    border-bottom: 1px solid #f2eeee;
    position: relative;
}
#sidebar-c .note-info .title, #sidebar-c .note-meta nobr{
    white-space: nowrap;
    overflow: hidden;
    /*visibility: hidden;*/
}
#sidebar-c .note-info .title{
    width: 100%;
    display: inline-block;
}
#sidebar-c .note-info .title .smart-input{
    width:100%;
    height: 100%;
}
#sidebar-c .note-info .title .smart-input label.smart-label{
    left:0;
    color:#948E8E;
    height: 35px;
    line-height: 35px;
}
#sidebar-c .note-info .title .smart-input.focus label.smart-label{
    color: #C4C2C2;
}
#sidebar-c .note-info .title input, #sidebar-c .note-info .title .smart-input label.smart-label{
    width: 100%;
    /*
    border: 0 none;
    outline: none;
    */
    font-size: 14px;
    /*color: #333;*/
    font-weight: normal;
}
#sidebar-c .note-info .title input{
    height: 36px;
    line-height: 16px;
    cursor: text;
    font-weight: bold;
    line-height: 36px\9; /* IE 8*/
    *height: 34px;         /* IE 7*/
    *line-height: 38px;
    *top: 0;
}
#sidebar-c .note-info .extra{
    display: block;
    position: absolute;
    top: 0;
    right: 10px;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    width: 225px;
    height: 35px;
    line-height: 35px;
}
#sidebar-c .note-info .extra .note-category{
    display: block;
    width: 136px;
    height: 35px;
    line-height: 35px;
    white-space: nowrap;
    overflow: hidden;
    background: url("/assets/images/category_bg_normal.png") 0 4px no-repeat transparent;
    padding-left: 6px;
    color: #333;
    font-size: 12px;
    font-weight: normal;
    border-right: 1px solid #f2eeee;
    cursor: pointer;
    float: left;
    /*position: relative;
    top: 4px;*/
}
#sidebar-c .note-info .extra .note-category:hover{
    background-image: url("/assets/images/category_bg_hover.png");
    text-decoration: none;
}
#sidebar-c .note-info .extra .note-category:active{
    background-image: url("/assets/images/category_bg_active.png");
}
#sidebar-c .note-info .extra .note-category.preview,
#sidebar-c .note-info .extra .note-category.preview:hover,
#sidebar-c .note-info .extra .note-category.preview:active{
    background-position: 0 0;
    background-image: none;
    cursor: default;
    padding-left: 0;
    padding-right: 6px;
}
#sidebar-c .note-info .extra .note-category.preview .wrap{
    width: 134px;
    height: 26px;
    line-height: 26px;
    /*background-color: #F3F3F3;*/
    /*border: 1px solid #ccc;*/
    border: 1px solid #eee;
    margin-top: 4px;
}
#sidebar-c .note-info .extra .note-category.preview .wrap i.icon{
    position: relative;
    left: 5px;
    /*fixed baidu browser*/
    /*top: -2px;
    *top: 4px;
    margin: 0;*/ 
    background-position: 0 2px;
    margin: 1px 0 -1px;
    float: left;
}
#sidebar-c .note-info .extra .note-category.preview .wrap span.title{
    padding-left: 8px;
    vertical-align: inherit;
    position: static\0;
}
#sidebar-c .note-info .extra .note-category span.title{
    width: 85px;
    padding-left: 3px;
    vertical-align: middle;
    position: relative\0;
    top: -1px\0;
}
#sidebar-c .note-info .extra .note-category i.icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    /*fixed baidu browser*/
    /*margin: 9px 0 7px;
    *float:left;*/
    background-position: 0 2px;
    margin: 6px 0 -6px;
    float: left;
}
#sidebar-c .note-meta{
    color: #888;
    font-size: 12px;
    border-bottom: 1px solid #f2eeee;
    *font-family: "Microsoft Yahei","微软雅黑",Helvetica,Arial,sans-serif;
    font-family: "Microsoft Yahei","微软雅黑",Helvetica,Arial,sans-serif \0/IE8+9;
}
#sidebar-c .note-meta nobr{
    margin-right: 20px;
    display: inline-block;
    /*display: none;*/
}
#sidebar-c .note-meta nobr.publnk a{
    width: 86px;
    height: 24px;
    line-height: 24px;
    white-space: nowrap;
    display: inline-block;
    background: url("/assets/images/btn_shared.png") no-repeat 0 0 transparent;
    padding-left: 28px;
    font-size: 12px;
    color: #3477a5;
}
#sidebar-c .note-meta nobr.publnk a:hover{
    text-decoration: none;
    background-image: url("/assets/images/btn_shared_hover.png");
}
#sidebar-c .note-meta nobr.publnk a:active{
    text-decoration: none;
    background-image: url("/assets/images/btn_shared_active.png");
}
#sidebar-c .note-meta .tags{
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
}
#sidebar-c .note-meta .tags.editable a.tagname,
#sidebar-c .note-meta .tags .gentag{
    display: inline-block;
    white-space: nowrap;
    background-color: #fff;
    color: #333;
    /*margin: 0 5px;*/
    padding: 0px 10px;
    border: 1px solid #dedede;
    filter: alpha(opacity=80);
    -moz-opacity:0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    /*border-radius: 12px;*/
    line-height: 18px;
    height: 18px;
    line-height: 20px\0/IE8+9;
    /*position: relative;
    top: 1px;*/
    cursor: default;
}
#sidebar-c .note-meta .tags a.tagname{
    color: #be0800;
    margin-right: 8px;
    cursor: default;
}
#sidebar-c .note-meta .tags.editable a.tagname{
    margin-right: 14px;
    position: relative;
    top: 1px;
    *top: 3px;
    /*top: -1px\0/IE8+9;*/
}
#sidebar-c .note-meta .tags.editable a.tagname:hover{
    margin-right: 5px;
}
#sidebar-c .note-meta .tags a.tagname:hover,
#sidebar-c .note-meta .tags a.tagname:active{
    text-decoration: none;
}
#sidebar-c .note-meta .tags.editable a.tagname:hover,
#sidebar-c .note-meta .tags.editable a.tagname.active{
    background-color: #be0800;
    border-color: #be0800;
    color: #fff;
}
#sidebar-c .note-meta .tags a.tagname .del{
    display:none;
    position: relative;
    cursor: pointer;
    top: -1px;
    *top: -1px;
    top: -1px\0/IE8+9;
    left: 4px;
    color: #dedede;
}
#sidebar-c .note-meta .tags a.tagname .del:hover,
#sidebar-c .note-meta .tags a.tagname .del.hover{
    /*font-weight: bold;*/
   color: #fff;
}
#sidebar-c .note-meta .tags a.tagname:hover .del{
    display: inline-block;
}
#sidebar-c .note-meta .tags .gentag{
    min-width: 25px;
    /*line-height: 20px;*/
    color: #8B8A8A;
    cursor: text;
    vertical-align: middle;
    position: relative;
    top: -1px;
    top: -1\0/IE8+9;
    *top: 1px;
    /*top: 0px;
     _top: 4px;
    *top: 4px;*/
}
#sidebar-c .note-meta .tags a.tagname span.name{
    /*display: inline-block;
    height: 16px;
    line-height: 16px;
    vertical-align: bottom;*/
    /*vertical-align: middle;*/
    vertical-align: initial\9;
}
#sidebar-c .note-meta .tags .gentag input.newtag{
    outline: none;
    width: 35px;
    border: 0 none;
    height: 18px;
    line-height: 18px;
    *height: 17px;
    *line-height: 17px;
    vertical-align:top\0/IE8+9;
    color: #333;
    font-size: 12px;
    overflow: hidden;
}
#sidebar-c .note-meta .tags .gentag.active input.newtag{
    color: #333;
}
#sidebar-c .note-meta .tags .taglen{
    visibility: hidden;
    display: inline-block;
}
#sidebar-c .note-detail, #sidebar-c .note-editor{
    display: none;
}
#sidebar-c .note-editor{
    padding-bottom: 5px;
}
#sidebar-c .note-editor .edui-editor-toolbarbox{
    white-space: nowrap;
    /*min-width: 1024px;*/
}
#sidebar-c .note-editor .editor_entity{
    display: none;
}

#flashcontent{
    position: absolute;
}